<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smilehacker.meemo" >

    <application
        android:name="com.smilehacker.meemo.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.smilehacker.meemo.activity.MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/TransparentTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.smilehacker.meemo.receiver.PackageUpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.smilehacker.meemo.activity.SettingActivity"
            android:label="@string/setting_title" >
        </activity>

        <service
            android:name=".service.FloatViewService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>
