<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smilehacker.meemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.smilehacker.meemo.activity.MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/TransparentTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smilehacker.meemo.activity.FloatActivity"
            android:label="@string/app_name"
            android:theme="@style/TransparentTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.smilehacker.meemo.activity.SettingActivity"
            android:label="@string/setting_title" >
        </activity>

        <service
            android:name=".service.MainService"
            android:process=":remote"
            >
        </service>

        <receiver android:name="com.smilehacker.meemo.receiver.PackageUpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.smilehacker.meemo.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>


</manifest>
